.Budget {
    position: relative;
    z-index: 1;
    margin-top: 2rem;
    
}

.BudgetHeading {
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 15px 15px 10px #ccc;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,3,63,1) 11%);
    padding: 10px;
}

.BudgetHeading h2 {
    font-size: 1.3rem;
    margin-right: 10px;
    color: #fff;
}

.BudgetHeading p {
    font-size: 1.1rem;
    color: #fff;
}

.BudgetHeading h1 {
    font-size: 2.3rem;
    color: goldenrod;
}



