.CompareContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;

}

@media(max-width: 500px) {
    .CompareContainer {
        flex-direction: column;
    }
}

.compareButton {
    margin-bottom: 1.5rem;
}

.greater {
    color: green;
    font-size: 1rem;
}

.less {
    color: red;
    font-size: 1rem;
}

.error {
    color: red;
}