

.BudgetItems {
    width: 90%;
    border-top: 2px solid goldenrod;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #ccc;
    margin: 1rem auto;
    padding: 1px 20px;
}

.BudgetItemsHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.BudgetItemsHeading h3 {
    text-align: left;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.income {
    background-color: rgba(4,3,63,1);
    color: #fff;
    width: 90%;
    border-top: 2px solid goldenrod;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #ccc;
    margin: 1rem auto;
    padding: 1px 20px;
}